<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.0
  </div>
  <strong>Copyright &copy; 2018 <a href="#">大洋洲商贸</a>.</strong> All rights
  reserved.
</footer>

</div>

<script src="/statics/plugin/jquery/jquery-3.3.1.min.js"></script>
<script src="/plugin/admin-lte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/plugin/admin-lte/dist/js/adminlte.min.js"></script>

</body>
</html>